.message-error{
    background: red;
    color: white;
    opacity: 0;
    transition: all linear .5s;
    &.invalid { //Se mostrara solo sí la clase message-error está acompañado de la clase invalid 
        opacity: 1;
    }
}

.line-error {
    height: 0;
    border-bottom: 1 px solid;
    &.invalid { 
        border-color: red;
    }
    &.valid { 
        border-color: green;
    }
}
